In [6]:
import pandas as pd

In [1]:
pothole_dict = {1: {'Street': 'Hummingbird Lane',
                    'Zip': 78251,
                    'Size': 7,
                    'Location': 'Inner'
                    },
                2: {'Street': 'Marzano Street',
                    'Zip': 78259,
                    'Size': 2,
                    'Location': 'Outer'}
                }

In [2]:
def request_id():
    print('Welcome to the Pothole Tracking and Repair System')
    print('-------------------------------------------------')
    pid = input('Please enter the ID number or press Enter to continue: ')
    print()
    if pid.isdigit() == True:
        pid = int(pid)
    else:
        pid = register_new()
    return pid

In [3]:
def register_new():
    Street = input('Please enter the street: ')
    Zip = int(input('Please enter the Zipcode: '))
    Size = int(input('Enter the size of the pothole (1-10): '))
    Location = input('Enter the location (Inner,Mid,Outer): ')
    print()

    new_id = len(pothole_dict) + 1
    pothole_dict[new_id] = {'Street': Street,
                            'Zip': Zip,
                            'Size': Size,
                            'Location': Location}
    pid = new_id
    return pid

In [39]:
def display_info(pid):
    if pid in list(pothole_dict.keys()):
        print('ID number:',pid)
        for x in pothole_dict[pid]:
            print(x, ':', pothole_dict[pid][x])

    if pothole_dict[pid]['Zip'] <= 78255:
        district = 1
    else:
        district = 2

    if pothole_dict[pid]['Size'] >= 1 and pothole_dict[pid]['Size'] < 5:
        priority = 'Low'
    elif pothole_dict[pid]['Size'] >= 5 and pothole_dict[pid]['Size'] < 8:
        priority = 'Medium'
    elif pothole_dict[pid]['Size'] >= 8:
        priority = 'High'
    
    print()
    print(f'This falls under district: {district}')
    print(f'Current priority is: {priority}')
    return district, priority

In [5]:
def run_phtrs():
    pid = request_id()
    display_info(pid)

In [19]:
damage_df = pd.DataFrame(columns=['Name','Address','Phone#','Type_of_Damage','Dollar_Amount'])

In [18]:
damage_df

Empty DataFrame
Columns: [Name, Address, Phone#, Type_of_Damage, Dollar_Amount]
Index: []

In [27]:
def welcome():
    print('Welcome to the PHTRS main page. Choose an option to continue')
    print('---------------------------------------')
    selection = ''
    while selection != 'q':
        print('Type 1 to view or register a new repair.')
        print('Type 2 to report damages')
        print('Type 3 for admin functions')
        print('Type q to exit\n')
        selection = input()
        if selection == '1':
            run_phtrs()

In [34]:
def damage_report(damage_df):
    name = input('Enter your first and last name: ')
    address = input('Enter your street address and zipcode: ')
    phone = input('Enter your phone number: ')
    damage_type = input('Enter a brief description of the damage: ')
    dollar_amount = input('Enter the approximate dollar amount: ')

    damage_df = damage_df.append({'Name': name,
                                  'Address': address,
                                  'Phone#': phone,
                                  'Type_of_Damage': damage_type,
                                  'Dollar_Amount': dollar_amount},
                                 ignore_index=True)

    return damage_df

In [35]:
damage_report(damage_df)

Enter your first and last name: Kenneth Alviola
Enter your street address and zipcode: 4534 Deer ln 78245
Enter your phone number: 8675309
Enter a brief description of the damage: suspension damage
Enter the approximate dollar amount: 1000

,Name,Address,Phone#,Type_of_Damage,Dollar_Amount
0,Kenneth Alviola,4534 Deer ln 78245,8675309,suspension damage,1000

In [36]:
damage_df

Empty DataFrame
Columns: [Name, Address, Phone#, Type_of_Damage, Dollar_Amount]
Index: []

In [58]:
def admin():
    select = ''
    while select != 'q':
        select = input('Type 1 to check reported potholes, 2 for workorders, 3 for damage report, and q to quit: ')
        if select == '1':
            pothole_df = pd.DataFrame(pothole_dict).T
            print(pothole_df)
            print()
            pid = int(input('Enter the ID to check district and priority: '))
            display_info(pid)
        elif select == '2':
            workorder()
        elif select == '3':
            print(damage_df)

In [57]:
admin()

Type 1 to check reported potholes, 2 for workorders, 3 for damage report: 1
             Street    Zip Size Location
1  Hummingbird Lane  78251    7    Inner
2    Marzano Street  78259    2    Outer

Enter the ID to check district and priority: 2
ID number: 2
Street : Marzano Street
Zip : 78259
Size : 2
Location : Outer

This falls under district: 2
Current priority is: Low
Type 1 to check reported potholes, 2 for workorders, 3 for damage report: 3
Empty DataFrame
Columns: [Name, Address, Phone#, Type_of_Damage, Dollar_Amount]
Index: []
Type 1 to check reported potholes, 2 for workorders, 3 for damage report: q

In [59]:
damage_df

Empty DataFrame
Columns: [Name, Address, Phone#, Type_of_Damage, Dollar_Amount]
Index: []

In [61]:
workorder_df = pd.DataFrame(columns=['Pothole_ID',
                                     'Location',
                                     'Size',
                                     'Crew_ID',
                                     'Crew_size',
                                     'Repair_hours',
                                     'Repair_status',
                                     'Filler_amount(cu_ft)',
                                     'Repair_cost'])

In [62]:
workorder_df

Empty DataFrame
Columns: [Pothole_ID, Location, Size, Crew_ID, Crew_size, Repair_hours, Repair_status, Filler_amount(cu_ft), Repair_cost]
Index: []

In [63]:
pothole_df

             Street    Zip Size Location
1  Hummingbird Lane  78251    7    Inner
2    Marzano Street  78259    2    Outer

In [67]:
workorder_df['Pothole_ID'] = pothole_df.index.tolist()

In [74]:
workorder_df['Location'] = pothole_df.Location.tolist()
workorder_df['Size'] = pothole_df.Size.tolist()

In [75]:
workorder_df

,Pothole_ID,Location,Size,Crew_ID,Crew_size,Repair_hours,Repair_status,Filler_amount(cu_ft),Repair_cost
0,1,Inner,7,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Outer,2,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
def crew(size):
    if size < 5:
        return 1
    elif size >= 5 and size < 8:
        return 2
    elif size >= 8:
        return 3

In [87]:
workorder_df['Crew_ID'] = workorder_df.Size.apply(lambda x: crew(x))

In [88]:
workorder_df

,Pothole_ID,Location,Size,Crew_ID,Crew_size,Repair_hours,Repair_status,Filler_amount(cu_ft),Repair_cost
0,1,Inner,7,2,NaN,NaN,NaN,NaN,NaN
1,2,Outer,2,1,NaN,NaN,NaN,NaN,NaN

In [89]:
def crewsize(crew_id):
    if crew_id == 1:
        return 3
    elif crew_id == 2:
        return 5
    elif crew_id == 3:
        return 7

In [90]:
workorder_df['Crew_size'] = workorder_df.Crew_ID.apply(lambda x: crewsize(x))

In [92]:
workorder_df

,Pothole_ID,Location,Size,Crew_ID,Crew_size,Repair_hours,Repair_status,Filler_amount(cu_ft),Repair_cost
0,1,Inner,7,2,5,NaN,NaN,NaN,NaN
1,2,Outer,2,1,3,NaN,NaN,NaN,NaN

In [93]:
def repair_hours(size):
    if size < 5:
        return 2
    elif size >= 5 and size < 8:
        return 3
    elif size >= 8:
        return 4

In [ ]:
workorder_df['Crew_size'] = workorder_df.Crew_ID.apply(lambda x: crewsize(x))